
        <h1> $potify </h1>
        <br>
        <h3> Sign up </h3>
        <form method="POST" action="/sign-up">
          <input type="text" name="username" placeholder="Username">
          <br><br>
          <input type="submit" value = "Sign Up">
